
@font-face {
    font-family: '-apple-system';
    src: local('SF Pro Text');
}

@font-face {
    font-family: 'system-ui';
    src: local('SF Pro Text');
}

@font-face {
    font-family: 'BlinkMacSystemFont';
    src: local('SF Pro Text');
}

@font-face {
    font-family: 'Segoe UI';
    src: local('SF Pro Text');
}

@font-face {
    font-family: 'Arial';
    src: local('SF Pro Text');
}

@font-face {
    font-family: 'verdana';
    src: local('SF Pro Text');
}
